:root{
    --branco: #ffffff;
    --preto: #000000;
    --sombra: rgba(0, 0, 0, 0.3) ;
    --primaria: #282937;
    --secundaria: #00078c;
    --terciaria: #0a0f77;
    --quartenaria: #1c1a37;
    --quinaria: #140f72;
    --cinza-ferro: #474747;
    --carvao:#595959;
    --cinza-chumbo:#404040;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primaria);
    color: var(--branco);
}

html {
    scroll-behavior: smooth;
}

h2, h3{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

a, p, li, span{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.5s ease;
}
/* Quando aparece na tela */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Cursor piscando */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}