@import url(./style.css);
@import url(./geral.css);

@media (max-width: 1024px) {
    header {
        padding: 20px 5%;
        flex-direction: column;
        gap: 10px;
    }

    .content-hero {
            flex-direction: column;
            height: auto;
            text-align: left;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .content-hero-h1 h1 {
            font-size: 10vw;
        }

        .minha-foto {
            position: static;
            width: 250px;
            margin-top: 20px;
            display: none;
        }
        .carreira-container {
            grid-template-columns: repeat(1, 1fr);
        }
        .formacao-container {
            grid-template-columns: repeat(1, 1fr);
        }
}


@media (max-width: 1525px){
    .minha-foto{
        display: none;
    }
}
@media (max-width: 768px) {
    .content-hero{
        height: 200px;
    }
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .sobre-mim img{
        width: auto;
        height: auto;
        border-radius: 5px;
    }
    #sobre-mim1{
            display: none;
        }
        #sobre-mim2{
            display: block;
        }
}

@media (max-width: 480px) {
    .content-hero{
        height: 200px;
    }
    .content-hero h1 {
        font-size: 12vw;
    }
    .projetos-container {
        grid-template-columns: 1fr;
    }

    .card{
        height: 400px;
    }
    .formacao-container {
        grid-template-columns: 1fr;
    }

    .formacao-item {
        width: 100%;
        padding-left: 15px;
    }

    .formacao-item img {
        width: 80px;
    }
}