@import url(./geral.css);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--primaria);
}

header h1 {
    font-size: 1.5rem;
    color: var(--branco);
}

header nav{
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: "Roboto", sans-serif;
}

header nav ul li a:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}

section {
    width: 100%;
}

.content-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80vh;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-color: var(--quartenaria);
    box-shadow: 0 10px 30px var(--sombra);
}

.content-hero-h1 h1 {
    font-size: 8vw;
    color: var(--branco);
    letter-spacing: 5px;
    text-transform: uppercase;

    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid var(--branco);

    width: 0;
    animation: typing 3s steps(20, end) forwards,
               blink 0.7s infinite;
}
.minha-foto {
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 60px 10%;
}

.sobre-mim img {
    width: auto;
    border-radius: 10px;
    height: 400px;
}

.sobre-mim-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    line-height: 1.6;
}

.sobre-mim h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.projetos {
    padding: 60px 10%;
    background-color: var(--fundo);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.projetos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--cinza);
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative; /* necessário para o absolute funcionar */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

/* Lista corrigida */
.card-list {
    width: 100%;
}

/* Grid corrigido */
.card ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Imagens da lista */
.card ul img {
    width: 100%;
    height: 30px;
    object-fit: contain;
}

/* Texto */
.card p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-content p,
.card-content a {
    color: var(--links);
}






.formacao-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formacao{
    background-color: var(--quartenaria);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.formacao h2 {
    margin-top: 20px;
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;
}

.formacao-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.formacao-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 80%;
    padding-left:50px;
}

.formacao-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.formacao-content h3 {
    font-size: 1.2rem;
}

.formacao-content p {
    font-size: 0.9rem;
    margin-top: 5px;
}